@font-face {
  font-family: "ManropeRegular";
  src: local("ManropeRegular"),
  url('./fonts/Manrope/static/Manrope-Regular.ttf') format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "ManropeBold";
  src: local("ManropeBold"),
  url('./fonts/Manrope/static/Manrope-Bold.ttf') format("truetype");
  font-weight: bold;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ManropeRegular", serif;
}

body::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: #222629ff;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: #FC4B37;    /* цвет плашки */
  border-radius: 10px;       /* закругления плашки */
  border: 3px solid #222629ff;  /* padding вокруг плашки */
}
